<footer>
		<div id="footer">
			Brought to you by Charles Cunningham, Constance Wang, and Aryan Chauhan
		</div>
</footer>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
