<footer>
		<div id="footer">
			If you encounter any bugs or issues, please email <a href="mailto:penncoursetrading@gmail.com">penncoursetrading@gmail.com</a><br>
			Inspired by the Penn Course Trading <a target="_blank" href='https://www.facebook.com/groups/759880114532358/'>Facebook group</a>
		</div>
</footer>

<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
