<header>
	<div id="header">
		<div id="logout_div" style = "color:darkslategrey">
			<span id="headerGreeter"></span>
			<a id ="headerEdit" class="link styledlink"></a>
			<span id="headerDivider"></span>
			<a id ="headerLogout" class="link styledlink"></a>
		</div>
		<h1><a href="/" class="headerlink">Penn Course Alert +</a></h1>
		<div id="nav_bar">
			<!-- <a href ="/rules" class="headerlink">Rules</a>
			|
			<a id="statsLink" href ="/stats" class="headerlink">Stats</a>
			| -->
			<a href ="/about" class="headerlink">About</a>
			<span id="headerLoggedIn">
			|
			<a id="alertsLink" href ="/alerts" class="headerlink">Alerts</a>
			</span>
		</div>
	</div>
</header>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
