<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
<% include global/head %>
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About Penn Course Trading</h2>
<br>
	<b>Motivation</b>
			<p>
				I made this website for people who want to trade courses at the University of Pennsylvania. I'm sure there are situations where two people are each registered for a closed course, and they prefer each other's courses. This website is a way to find and resolve these situations.  I am hoping the University will eventually build course-trading into PennInTouch or create an efficient university-wide waitlist system.
			</p>
			<b>Overview</b>
			<p>
				To use this website, you simply make trade proposals indicating which courses you want and which courses you are willing to give up in exchange (more details about trade proposals are given below, and on the trade proposal page).  After matches are found, an anonymous email will be sent to both parties asking them to confirm the trade.  If both parties confirm, their email addresses will be shared with each other and they can coordinate a time to call or meet-up and trade the courses.
			</p>
			<b>Trade Logistics</b>
			<p>I have tested trading courses with friends multiple times, and have not encountered any issues.
				The course status notification webhook (which serves PennCourseAlert and all other course notification services) takes about a minute to trigger after a course is dropped.
				So you have plenty of time to pick up the dropped courses if you are coordinating with your trading partner (on a phone call or in-person).
				To execute a trade, each party should first add the course they will be adding to their course cart on PennInTouch, and take note of the full course code.  Each party should then drop their agreed-upon course at the same time.  Once the courses are dropped, each party should methodically refresh their PennInTouch registration page, attempt to input the course code in the drop-down menu (in the "Prepare course requests here" box), check their course cart to see if the arrow next to the course is light-blue/clickable, and repeat if the course is not yet open (by again refreshing the page).  It takes some time for the course to open up for registration after it is dropped, but due to the much larger delay in the course status notification webhook, the trading process can be completed well before alerts are sent out.</p>
			<b>Trade Proposals</b>
			<p>A trade proposal consists of a collection of courses (<span style='color:red;'>offerings</span>),
	      any one of which you would be willing to trade for a member of another collection
	      of courses (<span style='color:green;'>requests</span>).  Note that this tool will only facilitate single-course-for-single-course trades;
	    putting 5 courses in your offering and requesting sections does not mean you will be able to trade multiple courses for multiple courses.
	  It just means that you are willing to trade away any course in your offerings list for any course in your requests list.  You must have at least 1 course in both your offerings and requests section (if you just want
	to drop a course, post on the <a target="_blank" href='https://www.facebook.com/groups/759880114532358/'>Facebook group</a>).  Remember, you must be registered for all of the courses in your requests (this is part of the TOS below).  Also, you should ensure that you can actually register for all of the courses in your requests section without needing a permit.  The website will automatically ask you for confirmation if a course you are trying to request has a permit requirement for some students.  Note that some courses are blacklisted / cannot be traded (all CIS/NETS courses cannot be traded due to the CIS/NETS waitlist system).</p>
			<br><b>Prohibited Activities</b><br><br>
			<ol>
         <li>Registering for popular courses you don't need or want to take just to trade them<br><span style="font-style:italic; font-size:10px;">(Each user has a limited number of trades per registration period anyway; use them wisely)</span></li>
         <br>
         <li>Offering to trade away a course you are not registered for</li>
         <br>
         <li>Using money, coersion, or anything other than a course to gain leverage in course trading</li>
         <br>
         <li>Scamming someone out of a course (taking their course without dropping the promised course)</li>
       </ol>
       <i>Taking part in any of the above-listed activities will result in being banned from this website, and potentially being reported to the University.</i>
		</div>
		<br>
		<br>			<br>
					<br>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
