<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="stylesheet" href="styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto|Slabo+27px" rel="stylesheet">
<% include global/head %>
	</head>
	<body>
		<% include global/header %>
		<div id="rules" class="bodydiv">
			<h2>About Penn Course Trading</h2>
<br>
			<p>
				I made this website for people who want to trade courses. I'm sure there are situations where two people are each registered for a course that is closed, and they prefer each other's courses. This website would be a way to find these situations.
			</p>
			<p>
				After matches are found, people could set up an after-hours time to trade, ideally in-person (to avoid scams).
			</p>
		</div>
		<br>
		<br>			<br>
					<br>
		<% include global/footer %>
		<script src="scripts/scripts.js"></script>
	</body>
</html>
