<!DOCTYPE html>
<html lang='en'>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width = device-width, initial-scale = 1">

<title>Penn Course Trading</title>

<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="196113113303-pkf1lo671dkdl9jpp9t596ocsp2ghd40.apps.googleusercontent.com">
<script src="https://apis.google.com/js/platform.js" async defer></script>

<% include global/head %>


<script>window.onLoadCallback=function(){gapi.signin2.setPrompt('select_account');}</script>

</head>
<body>

	<span class="hide" id="logout"><%if(locals.logout){%><%=logout%><%}%></span><!-- Do not delete this line!!! It is not visible / does not affect the web page but it is necessary -->


		<% include global/header %>



<div class="bodydiv2">
		<div class="column" style = "float:left; width:50%">
				<div style = "text-align: right; padding-right: 20%; padding-top: 2%"><h2>Welcome!</h2></div>
		</div>

		<div class="column" style = "float:right; width: 50%">
				<div id="my-signin2"></div>
		</div>
	</div>
	<div class="bodydiv2">
		<div class="column" style = "float:right;width:62%"><img src="images/logo.png" alt="logo" width = 220px, height = 220 px>
		</div>
	</div>









<script src="jquery/dist/jquery.js"> </script>
<script src="/scripts/scriptsJQ.js"> </script>
<script src="/scripts/scripts.js"></script>

<% include global/footer %>


</body>
</html>
